<!DOCTYPE html>
<html>
<head>
    <title>Restaurante Himalaya</title>

    <style>
        body {
            font-family: Arial;
            margin: 40px;
            background-color: #f8f8f8;
        }

        .menu a {
            display: block;
            margin: 10px 0;
            font-size: 20px;
            background-color: #8b0000;
            color: white;
            padding: 10px;
            text-decoration: none;
            border-radius: 6px;
            width: 220px;
        }
    </style>
</head>
<body>

<h1>🍛 Sistema de pedidos</h1>

<div class="menu">
    <a href="/platos_page">🍽️ Gestión de platos</a>
    <a href="/pedido_page">🧾 Crear pedido</a>
    <a href="/menu_page">📅 Ver menú diario</a>
</div>

</body>
</html>